@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(35deg, #2D00F7, #A100F2, #D100D1, #F20089);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

div#modal-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div#level-screen, div#game-over-screen {
    background-color: #f7f7e7b6;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    text-align: center;
    max-width: 400px;
    width: 90%;
}

.hidden {
    display: none;
}


