@charset "utf-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(35deg, #2D00F7, #A100F2, #D100D1, #F20089);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}


