@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
    --light-base: #eeeeee;
    --dark-base: #0a0908;
    --dark-details: #034748;
    --accent: #e34a6f;
    --light-details: #9bc1bc;

    --font-title: "Playfair Display", serif;
    --font-body: "Montserrat", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: var(--light-base);
    font-family: var(--font-body);
    font-size: 1.1em;
    color: var(--dark-base);
}

header nav > ul {
    /* background-color: #034748; */
    display: flex;
    padding: 15px;
}

header nav ul > li {
    padding-right: 15px;
}

header nav ul > li#mode-switch {
    /* background-color: #e34a6f; */
    margin-left: auto;
    padding-right: 0px;
}

header nav ul li i {
    font-size: 1.2em;
    color: var(--accent);
}

header nav ul li#mode-switch > i {
    color: var(--dark-base);
}

section.hero-section {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../img/hero-image.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px 10px;
    /* height: ;*/
    color: var(--light-base);
    box-shadow: 3px 2px 12px 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 15px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2 {
    font-family: var(--font-title);
}

section.hero-section h1 {
    font-size: 1.5em;
    text-align: center;
    font-weight: 300;
}

section.hero-section h1 > span {
    color: var(--accent);
    font-weight: 700;
}

section.hero-section p {
    text-align: justify;
    margin: 15px;
}

div.content {
    /* margin: 20px; */
    padding: 5px 20px;
}

div.content h2 {
    font-size: 1.6em;
    color: var(--accent);
    /* margin-bottom: 10px; */
}

div.content section#skills div.skills-el-container {
    display: flex;
    justify-content: center;

    margin: 15px 0px;
}

div.content section#skills div.skills-el-container > div.el-skills {
    background-color: var(--light-details);
    padding: 10px;
    margin: 0px 5px;
    height: 50px;
    width: 50px;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

div.content section#skills div.skills-el-container div.el-skills > i {
    font-size: 1.5em;
    color: var(--dark-details);
}

div.content h3 {
    color: var(--dark-details);
}

div.content section#tools h3 {
    margin: 15px 0px 5px 0px;
}

div.content section#tools p {
    text-align: justify;
}

